body {
  text-align: center;

 }

.page-wrap {
  text-align: left;
  max-width: 1440px;
  margin: auto;

}


nav ul{margin-right: 10%;

  }
nav ul li{
  display: inline-block;
 /*    letter-spacing: 1px;*/

padding-left: 5%;
padding-top:10px;
}

nav img{

padding-top: 1%;
 float:left;
 margin-left: 10%;
max-height: 100px;
padding-bottom: 1%;

  
}
nav li:hover,
nav li:focus,
nav li:active{
    color: #acd373;

  -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


nav  {
  	color: #5f5f5f;
    background-color: #fffdea;
   opacity: 1;
  position: fixed;
    top: 0px;
line-height:80px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

 z-index:999;

    	
max-width: 1440px;

text-align: right;
font-family: arial;
font-weight: 700;
text-transform: uppercase;
}



section main img{
  position: absolute;
  left:0;
  top:0;
  max-width: 100%;
  z-index: -1;

}

section {

position: relative;
top:80px;

width: 100%;

padding-left: 10% ;
padding-right: 10% ;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
z-index: 998;
}


section main h1{
  opacity: 0.8  ;
color:white;
text-shadow: 3px 3px 3px #5f5f5f;

 font-weight: 700;
line-height: 75px;
font-size: 65px;
padding-top: 10%;
padding-bottom:5%;
z-index: 998;
}






section input{
  opacity:0.7;
  color:#5f5f5f;
  background-color: white;
  text-align: center;
  width: 400px;
 margin-top:  1%;
  margin-bottom:  4%;
 font-size: 20px;
 font-weight: 700;   
 line-height: 55px;
 border: 0;
 border-radius: 10px;
 height: 100%;
z-index: 001;
}
form input[type="submit"]{ 
 opacity:0.85;
  color: white;
  background-color: #acd373;

  }
article{
 margin-top: 9%;
 
 
}
 article left{
float: left;
text-align: left;

width:50%;
padding-top: 5%;


}
 article right
{
  float: right;
text-align: right;
font-size: 30px;
padding-top: 7%;
padding-bottom:7%;
width:50%;
color:#5f5f5f;
 
 

}

article h1{

color:#5f5f5f;
opacity: 1;
text-shadow:0px 0px 0px;
 font-weight: 500;
line-height: 75px;
font-size: 65px;

z-index: 998;
}

description{
 
 border-top-color: #5f5f5f;
 border-top-style: solid;
 border-top-width: 2px;
padding-top: 3%;
margin-left: 10%;
margin-right: 10%;
padding-bottom: 3%;

 text-align: center;
 max-width: 100%;
 display: inline-block;
}
description h2{
  
  color:#5f5f5f;
   font-weight: 700;
   font-size: 20px;
}
description p{
  padding-left: 13%;
  padding-right: 13%;
  color:#5f5f5f;
   font-weight: 500;
   font-size: 20px;
}

blocks {
   display: inline-block;

  max-width: 100%;

  }
  
  
row1 img{

    max-width: 33.33%;
    float: left;
  height: auto;
    width: auto;
  
}
row2 img{
 float: left;
    max-width: 50%;
  height: auto;
    width: auto;

}
h2 {
 text-align: center; 
  font-weight: 700;
  
}
footer {
  
  background-color: #acd373;
 text-align: center; 
  max-width: 100%;
}

footer input {
display: inline;
  opacity:0.7;
  color:#5f5f5f;
  text-align: center;
  width: 300px;
 font-size: 15px;
 font-weight: 700;   
 line-height: 45px;
 border-radius: 10px;
z-index: 001;
margin-right: 5%;
margin-left: 2%;
}

footer input[type="submit"]{ 

  color: white;
  background-color: red;
   font-size: 20px;

  }
 foorer social {
   margin: 5%;
   
  
    
  }