.page-wrap {
  text-align: left;
  max-width: 1440px;
  margin: auto;
 background-color: #fffdea;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



nav ul{
  margin-right: 10%;

  }
nav ul li{
  display: inline-block;

padding-left: 5%;
padding-top:10px;
}



nav img{

padding-top: 1%;
 float:left;
 margin-left: 10%;
max-height: 100px;
padding-bottom: 1%;


}
a:hover,
a:focus,
a:active,
{
  
 text-decoration: none; 
}

li a {
color: #5f5f5f;}



li a:hover,
li a:focus,
li a:active {
    color: #acd373;
text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}




nav  {
  	color: #5f5f5f;
  background-color: #fffdea;
   opacity: 1;
  position: fixed;
    top: 0px;
line-height:80px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

 z-index:999;

    	
max-width: 1440px;

text-align: right;
font-family: arial;
font-weight: 700;
text-transform: uppercase;
}



section main img{
  position: absolute;
  left:0;
  top:0;
  max-width: 100%;
  z-index: -1;

}

section {

position: relative;
top:80px;

width: 100%;

padding-left: 10% ;
padding-right: 10% ;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
z-index: 998;
}


section main h1{
  opacity: 0.8  ;
color:white;
text-shadow: 3px 3px 3px #5f5f5f;

 font-weight: 700;
line-height: 75px;
font-size: 65px;
padding-top: 10%;
padding-bottom:5%;
z-index: 998;
}






section input,
section textarea {
  opacity:0.7;
  color:#5f5f5f;
  background-color: white;
  text-align: center;
  width: 400px;
 
  margin-bottom:  4%;
 font-size: 20px;
 font-weight: 700;   
 line-height: 55px;
 border: 0;
 border-radius: 10px;
 height: 100%;
z-index: 001;
}
form input[type="submit"]{ 
 opacity:0.85;
  color: white;
  background-color: #acd373;

  }
  
  section contacts input,
  section contacts textarea
  {
    font-size: 15px;
    line-height: 35px;
    margin-bottom: 10px;
  }
 contacts {

    text-align:center;

    width:100%;
padding:100px;

  }
  
  
  
  
article{
 
 vertical-align: middle;
  color:#5f5f5f;
 margin-left: 3%;
margin-right: 3%;



}

 article left{

float: left;
text-align: left;

width:40%;

opacity: 1;
text-shadow:0px 0px 0px;

line-height: 75px;


}
 article right{
   

height:auto;

  float: right;
text-align: right;
font-size: 25px;

width:60%;

 
 

}



description{
 
 border-top-color: #5f5f5f;
 border-top-style: solid;
 border-top-width: 2px;
padding-top: 3%;
margin-top: 3%;
margin-left: 3%;
margin-right: 3%;
padding-bottom: 3%;

 text-align: center;
 max-width: 100%;
 display: inline-block;
}
description h2{
  
  color:#5f5f5f;
   font-weight: 700;
   font-size: 30px;
}
description p{
  padding-left: 13%;
  padding-right: 13%;
  color:#5f5f5f;
   font-weight: 500;
   font-size: 20px;

}
description h1 {
   color:#5f5f5f;
   font-weight: 700;

opacity: 1;
text-shadow:0px 0px 0px;
 font-weight: 500;
line-height: 75px;
font-size: 65px;
}




blocks {
 display: inline-block;
background-color:  #acd373;
  max-width: 100%;

  }
  
 

blocks text:hover h1{
text-shadow: 0px 0px 0px;
 
}



blocks text:hover img{
opacity: 0.25;
filter: alpha(opacity=25);

}

blocks text:hover p{
opacity: 100;
filter: alpha(opacity=100);
 vertical-align: middle;
  -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    font-size: 20px;
text-shadow: 1px 1px 1px #5f5f5f;
padding-top: 15%;
padding-bottom: 15%;
}



row1 text{
 float: left;
position: relative; 
 max-width: 33.33%;


}


row2 text{
 float: left;
position: relative; 
    max-width:50%;


}
text img{
 
 float: left;
    max-width: 100%;
  height: auto;
    width: auto;

}


text h1{
color: white;

font-size: 30px;
 position: absolute; 
margin-left: 5%;
margin-top: 45%;
padding-bottom:  15%;
text-shadow: 3px 3px 3px #5f5f5f;
white-space:nowrap;
}

text p{
color: white;
opacity: 0;
filter: alpha(opacity=0);
position: absolute; 




}










card{

 height: 500px;
 max-width: 25%;
 float: left;
padding-bottom: 3%;
 color:#5f5f5f;
 text-align: center;

}
card img{
  max-width: 90%;

}
card name{



   font-weight: 700;
   font-size: 30px;

}
  .line-separator{
max-width: 90%;
margin-left: auto;
    margin-right: auto;
height:2px;
border-bottom:2px solid #5f5f5f;

}



card p{
   font-weight: 500;
   font-size: 18px;
   text-align: center;
}

footer {
  
  
   -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
   text-align: left;
  max-width: 1440px;

 position: relative;
top:80px;

  margin:0;
padding: 0;
  background-color: #acd373;
  text-align: center;

  z-index: 001;
}

footer img{

  margin-top:40px;
  
}

fnote {

    color: white;


}


footer input {

  opacity:0.7;
  color:#5f5f5f;
  text-align: center;
  width: 250px;
 font-size: 15px;
 font-weight: 700;   
 line-height: 35px;
 border-radius: 10px;
margin-top: 3%;
margin-right: 2%;
margin-left: 2%;
margin-bottom: 3%;
}

footer input[type="submit"]{ 

  color: white;
  background-color: #ff5500;
   font-size: 20px;

  }
social img{
margin: 0px 2%;
margin-bottom: 1%;

    
  }
  
footer ul{



font-weight: 700;
color: white;
 text-align: center;
  max-width: 1440px;
  min-width: 100px;
  margin: auto;

  }
footer ul li{
display: inline-block;
  
padding-left:  6%;
padding-right:  10%;
margin-top: 15px;
margin-bottom: 30px;
}
  